body, html {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    font: 1em sans-serif;
    justify-content: space-between;
    background-color: #ffffff;
    color: #a28e50;
    padding: 30px;
    width: 1000px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1000;
    position: fixed; /* Change this line */
    font-size: 0.8em;
    font-weight: 550;

}
.navbar a {
    color:#3f3f3f; 
    padding-left :15px; 
    box-sizing: border-box;
    text-decoration: none;
}
.navbar .home-button {
    color: #7b6a40; 
}

.centered-text {
    letter-spacing: 10px; 
    line-height: 1.7;
    font-weight: 600;
    font-family: Garamond;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 2em;
}

html,body {
    height: 100%;
}  
.wrapper {
    height: 100%;
}
.fixed-bg {
    height: 100%;
    color: white;
}

.fixed-bg h1 {
    display: table-cell;
    vertical-align: middle;
}

.fixed-bg h1, .scroll-bg h3 {
    margin: 0;
    padding: 0;
}
.fixed-bg {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    text-align: center;
    display: table;
    background-size: 1000px;
}
.bg-1 {
    background-image: url('Assets/Assignment1/image3.png');
    height: 650px;
    position: relative;
    background-position: bottom;
}
.bg-2 {
    background-image: url('Assets/Assignment1/image2.png');
    height: 650px;
    position: relative;
    background-position: top;
}


.scroll-bg {
    background-color: #ffffff;
    color: #676767;
    width: 1000px;
}

.image-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#img1{
    flex: 1 1 auto;
    width: 150px; /* Adjust as needed */
    height: 400px;
    object-fit: cover;
    padding: 80px 20px 80px 40px;
}

#img2{
    flex: 1 1 auto;
    width: 500px; /* Adjust as needed */
    height: 400px;
    object-fit: cover;
    padding: 80px 40px 80px 40px;
}

#img3{
    flex: 1 1 auto;
    width: 300px; /* Adjust as needed */
    height: 550px;
    object-fit: cover;
    padding: 40px 10px 0px 560px;
}
  

.testimonial-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    padding: 40px 0;
    box-sizing: border-box;
}

.arrow {
    color: #a5987a;
    text-decoration: none;
    font-size: 2em;
}

.testimonial {
    flex-grow: 2;
    text-align: center;
}

.quote {
    font-size: 3em;
    line-height: 0.1em;
    color: #2b2b2b;
}

.testimonial-text {
    font-family: Garamond;
    font-size: 3em;
    margin: 40px 150px 40px 150px;
}

.testimonial-author {
    font-size: 1em;
    font-style: italic;
    color: #aa9157;
    font: 1em sans-serif;

}


/* CSS code for the footer */
.footer-container {
    background-color: #af9453; /* Tan color */
    color: #ffffff; /* White text color */
    padding: 20px 20px 20px 20px;
    display: flex;
    justify-content: flex-start; /* Change this line */
    align-items: center;
    font: 1em sans-serif;
    font-weight: 700;
    margin-bottom: 50px; /* Add this line */
}

.footer-address {
    color: #ffffff; /* Dark text for readability */
    font-size: 14px;
    padding: 20px 0px 20px 20px; /* Add some padding to the right */
    
}

.footer-address .bordered-content p {
    margin: 5px 0; /* Adjust this value as needed */
}

.footer-contact-info {
    color: #ffffff; /* Dark text for readability */
    font-size: 14px;
    padding: 20px 10px 20px 20px; /* Add some padding to the right */
    
}

.footer-contact-info .bordered-content p {
    margin: 5px 0; /* Adjust this value as needed */
}
.footer-copy-right {
    color: #ffffff; /* Dark text for readability */
    font-size: 14px;
    padding: 0px 200px 20px 0px;
    margin-top: -25px; /* Move the text higher */

}
.footer-cta-button button {
    background-color: #af9453; /* Dark background for the button */
    color: #ffffff; /* White text for the button */
    border: 2px solid #ffffff; /* Add a white border */
    padding: 15px 20px 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    /* margin-left: -20px; Move the button to the left */

}

.footer-cta-button button:hover {
    background-color: #ffffff; /* Darken the button on hover */
}


.footer-address .bordered-content,
.footer-contact-info .bordered-content {
   border-right: 2px solid #ffffff;
   display: inline-block;
   padding: 15px;
}

.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #af9453; /* Dark background for the button */
    color: #ffffff; /* White text for the button */
    border: 1px solid #ffffff; /* Add a white border */
    padding: 15px 20px 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;
    margin: 100px 0px 0px 274px;
    width: 240px;

  }

  .button-text {
    position: absolute;
    font: 1em sans-serif;
    letter-spacing: 10px; 
    font-size: xx-large;
    font-weight: 400;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin: -200px 0px 0px 277px;
}

.button-text2 {
    position: absolute;
    top: 50%;
    left: 50%;
    font: Garamond;
    letter-spacing: 10px; 
    font-size: large;
    line-height: 2;
    font-weight: 500;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin: 0px 0px 0px 277px;
}

.button-text-img1 {
    font: Garamond;
    letter-spacing: 2px;
    font-size: large;
    line-height: 2;
    font-weight: 500;
    color: #fffbee;
    position: absolute;
    text-align: center;
    margin-top: 20px;  
    margin-left: 30px; 
    z-index: 1;
    margin: 270px 0px 0px 70px;

}

.button-text-img2 {
    font: 1em sans-serif;
    letter-spacing: 10px; 
    font-size: x-large;
    color: #fffbee;
    font-weight: 400;
    position: absolute;
    margin-top: 50px;  
    margin-left: 30px; 
    z-index: 1;
    margin: 150px 0px 0px 70px;

}

.button-img1 {
    background-color: #af9453; /* Dark background for the button */
    color: #ffffff; /* White text for the button */
    border: 1px solid #ffffff; /* Add a white border */
    padding: 15px 20x 15px 20px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;
    position: absolute;
    margin-top: 50px;  
    margin-left: 30px; 
    z-index: 1;
    margin: 400px 0px 0px 167px;
    width: 200px;

}

